# dependencies
node_modules/
.pnp
.pnp.js

# build output
dist/
build/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
logs/

# testing
coverage/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# docker
postgres-data/
